.container {
    margin-top: 1.25rem;
    width: 40%;
}

.jumbotron {
    margin-top: 10rem;
    background: #00094e;
}

.btn {
    background: crimson;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    margin-top: 1rem;
    font-weight: 400;
    border: 0.2rem solid crimson;
    transition: all 0.3s ease;
}

.btn:hover {
    background: #fff;
    color: crimson;
    border: 0.2rem solid #fff;
    font-weight: 400;
    border: 0.2rem solid #fff;
}

.red-letters {
    color: crimson;
}

input:focus::placeholder {
    color: transparent;
}