<app-navbar></app-navbar>
<div class="container">
    <div class="jumbotron">
        <h3>Forgot Pass<span class="red-letters">word</span>|</h3>
    <div class="forgot-password-container">
        <form class="login-form-group rounded p-3">
            <div class="form-group">
                <label class="font-weight-bold" for="username">Username</label>
                <input [(ngModel)]="request_username" name="request_username" type="text" class="form-control" id="username"
                    placeholder="username">
            </div>
            <div class="form-group">
                <label class="font-weight-bold" for="email">Email</label>
                <input [(ngModel)]="request_email" name="request_email" type="email" class="form-control"
                    id="password" placeholder="email">
            </div>
            <div class="text-center">
                <button id="submit-request" (click)="submit()" type="submit"
                    class="btn"> Submit </button>
            </div>
        </form>
    </div>
    <div class="row justify-content-center">
        <app-alert></app-alert>
    </div>
    </div>
</div>