h1 {
    margin-top: 1.25rem;
    text-align: center;
}
h2 {
    margin-left: 17.5rem;
}

button {
    margin-left: 1rem;
}

.login-container {
    margin-top: 1rem;
    width: 50%;
    margin-left: 17rem;
}

button {
    background: crimson;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    margin-top: 1rem;
    font-weight: 400;
    border: 0.2rem solid crimson;
    transition: all 0.3s ease;
}

button:hover {
    background: #fff;
    color: crimson;
    border: 0.2rem solid #fff;
    font-weight: 400;
}

input:focus::placeholder {
    color: transparent;
}

.container {
    margin-top: 9rem;
}

.red-letters {
    color: crimson;
}